:root {
  --logo-height: 20px;
  --gap: 16px;
  --speed: 50s;
  --direction: normal;
  --fade-color: #ffffff;
}

.logo-loop {
  position: relative;
  isolation: isolate;
  width: 100%;
  height: var(--logo-height);
  overflow: hidden;
}

.logo-loop.fade-out::before,
.logo-loop.fade-out::after {
  content: "";
  position: absolute;
  inset-block: 0; /* top: 0; bottom: 0; */
  z-index: 1;
  width: clamp(24px, 8%, 120px);
  pointer-events: none;
}

.logo-loop.fade-out::before {
  left: 0;
  background: linear-gradient(
    to right,
    var(--fade-color, #ffffff) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.logo-loop.fade-out::after {
  right: 0;
  background: linear-gradient(
    to left,
    var(--fade-color, #ffffff) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.logo-track {
  display: flex;
  align-items: center;
  gap: var(--gap);
  width: max-content;
  position: relative;
  z-index: 2;
  animation: scroll var(--speed) linear infinite var(--direction);
  will-change: transform;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.logo-item {
  flex-shrink: 0;
  height: var(--logo-height);
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.logo-loop.pause-on-hover:hover .logo-track {
  animation-play-state: paused;
}

.logo-loop.scale-on-hover .logo-item:hover {
  transform: scale(1.1);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}